html,
body {
  height: 100%;
}

.container-app {
  padding: 20px;
  min-height: 100%;
  background: #f0f0f0;
}

.box-layout {
  background: #3aa93a;
}

.spin-position {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}

.style-box {
  border: 1px solid;
  padding: 0;
}

.box-member {
  position: absolute;
  bottom: 15px;
  width: -webkit-fill-available;
  margin-right: 34px !important;
}

.box-machine {
  position: absolute;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 0 34px 120px 0 !important;
}
